@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --orange: #a1d6b2;
  --light-gray: #f5f5f5;
  --dark-gray: #333;
  --black: #000;
  --white: #fff;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
}

.gold-purchase-page {
  max-width: 1000px;
  margin: 32px auto;
  padding: 48px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.purchase-title {
  font-size: 41.6px;
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}

.step-indicator {
  font-size: 25.6px;
  text-align: center;
  color: var(--dark-gray);
  margin-bottom: 40px;
}

.purchase-details {
  padding: 32px;
}

.section-title {
  font-size: 35.2px;
  color: var(--black);
  margin-bottom: 24px;
}

.purchase-option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  font-size: 28.8px;
}

.purchase-option label {
  color: var(--dark-gray);
  display: flex;
  align-items: center;
}

.purchase-option input {
  margin-right: 12.8px;
}

.receiver-account {
  margin-bottom: 40px;
}

.receiver-account label {
  font-size: 25.6px;
  color: var(--dark-gray);
  margin-bottom: 8px;
  display: block;
}

.input-field,
select {
  width: 100%;
  padding: 19.2px;
  font-size: 28.8px;
  border: 2px solid var(--light-gray);
  border-radius: 12.8px;
  background-color: var(--white);
  color: var(--dark-gray);
  margin-top: 11.2px;
  transition: border-color 0.3s ease;
}

.input-field:focus,
select:focus {
  border-color: var(--orange);
  outline: none;
}

.gold-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gold-price p {
  font-size: 28.8px;
  color: var(--dark-gray);
}

.price {
  font-size: 32px;
  color: var(--orange);
}

.purchase-amount {
  margin-bottom: 40px;
}

.purchase-amount label {
  font-size: 25.6px;
  color: var(--dark-gray);
  margin-bottom: 12.8px;
  display: block;
}

.amount-options {
  display: flex;
  justify-content: space-between;
}

.amount-options .input-field {
  width: 48%;
  padding: 19.2px;
}

.terms {
  font-size: 25.6px;
  color: var(--dark-gray);
  margin-bottom: 40px;
}

.terms a {
  color: var(--orange);
}

.btn.next-btn {
  width: 100%;
  padding-top: 24px;
  margin-top: 16px;
  display: inline-block;
  font-size: 27.2px;
  color: var(--white);
  background: var(--orange);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  padding: 12.8px 48px;
}

.btn.next-btn:hover {
  background: var(--dark-gray);
  letter-spacing: 1.6px;
}

/* responsif */

@media screen and (max-width: 768px) {
  .gold-purchase-page {
    padding: 32px;
  }

  .purchase-title {
    font-size: 35.2px;
  }

  .step-indicator {
    font-size: 22.4px;
  }

  .purchase-option {
    flex-direction: column;
    font-size: 25.6px;
  }

  .purchase-option label {
    margin-bottom: 16px;
  }

  .purchase-amount {
    margin-bottom: 32px;
  }

  .gold-price p {
    font-size: 25.6px;
  }

  .price {
    font-size: 28.8px;
  }

  .amount-options {
    flex-direction: column;
  }

  .amount-options .input-field {
    width: 100%;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 480px) {
  .gold-purchase-page {
    padding: 24px;
  }

  .purchase-title {
    font-size: 32px;
  }

  .step-indicator {
    font-size: 19.2px;
  }

  .purchase-option {
    font-size: 22.4px;
  }

  .input-field {
    font-size: 22.4px;
    padding: 16px;
  }

  .gold-price p {
    font-size: 22.4px;
  }

  .price {
    font-size: 25.6px;
  }

  .btn.next-btn {
    padding: 19.2px;
    font-size: 25.6px;
  }

  .terms {
    font-size: 16px;
    color: var(--dark-gray);
    margin-bottom: 40px;
  }
}
